# Introduction
## Determining  New Market for Space-borne  data.

Step 1 : Data Loading

In [11]:
# Import necessary libraries
import pandas as pd              # For data manipulation and analysis
import numpy as np               # For numerical operations
import matplotlib.pyplot as plt # For data visualization
import seaborn as sns           # For enhanced data visualization

get_ipython().system('pip list')

Package           Version

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

----------------- ------------
asttokens         2.4.0
backcall          0.2.0
colorama          0.4.6
comm              0.1.4
contourpy         1.1.1
cycler            0.11.0
debugpy           1.8.0
decorator         5.1.1
exceptiongroup    1.1.3
executing         1.2.0
fonttools         4.42.1
ipykernel         6.25.2
ipython           8.15.0
jedi              0.19.0
jupyter_client    8.3.1
jupyter_core      5.3.1
kiwisolver        1.4.5
matplotlib        3.8.0
matplotlib-inline 0.1.6
nest-asyncio      1.5.8
numpy             1.26.0
packaging         23.1
pandas            2.1.1
parso             0.8.3
pickleshare       0.7.5
Pillow            10.0.1
pip               23.1.2
platformdirs      3.10.0
prompt-toolkit    3.0.39
psutil            5.9.5
pure-eval         0.2.2
Pygments          2.16.1
pyparsing         3.1.1
python-dateutil   2.8.2
pytz              2023.3.post1
pywin32           306
pyzmq             25.1.1
seaborn           0.12.2
setuptools        67.8.0
six               1.16.0
stack-data        0.6.2
tornado           6.3.3
traitlets         5.10.0
tzdata            2023.3
wcwidth           0.2.6
wheel             0.40.0

loading dataset into dataframe

In [12]:
# Import necessary libraries
import pandas as pd

# Load your dataset into a Pandas DataFrame
df = pd.read_csv('./Space Data Clean.csv')

# Display the first few rows of the DataFrame to verify the data loading
df.head()

,Company Name,Verticals,Keywords,Company Financing Status,Total Raised,Business Status,Ownership Status,Universe,Employees,Exchange,...,Last Financing Valuation,Last Financing Deal Type,Last Financing Deal Type 2,Last Financing Deal Class,Last Updated Date,Last Known Valuation (M),Last Known Valuation Date,Count,First Financing Deal Year,Current Year
0,SpaceX,"Industrials, Manufacturing, Space Technology","satellite development, space launch, space lau...",Venture Capital-Backed,5869.70,Profitable,Privately Held (backing),"Debt Financed, Private Equity, Venture Capital","8,000",NaN,...,"46,000.00",Later Stage VC,NaN,Venture Capital,23-Oct-2020,46000.00,18-Aug-2020,1,2002.0,2020
1,OneWeb,"Space Technology, TMT","broadband access, broadband satellite, interne...",Private Equity-Backed,4489.55,Generating Revenue/Not Profitable,Privately Held (backing),"M&A, Private Equity, Venture Capital",74,NaN,...,"1,111.11",Merger/Acquisition,NaN,Corporate,15-Sep-2020,1111.11,03-Jul-2020,1,2015.0,2020
2,Spirit AeroSystems Holdings,"Industrials, Manufacturing, Space Technology, TMT","aerostructures, aircraft parts, defense struct...",Formerly PE-Backed,1558.10,Profitable,Publicly Held,"Debt Financed, Private Equity, Publicly Listed","18,200",NYS,...,NaN,Share Repurchase,NaN,Other,10-Oct-2020,3327.81,21-Nov-2006,1,2005.0,2020
3,SES,"Space Technology, TMT","artificial satellite, geostationary satellite,...",Formerly VC-backed,1029.60,Profitable,Publicly Held,"Publicly Listed, Venture Capital","2,100",LUX,...,NaN,Secondary Transaction - Open Market,NaN,Venture Capital,08-Oct-2020,7434.54,06-Jul-1998,1,1990.0,2020
4,Blue Origin,"Industrials, Space Technology, TMT","aerospace, human spaceflight, liquid rocket en...",Venture Capital-Backed,500.00,Generating Revenue,Privately Held (backing),Venture Capital,"3,000",NaN,...,NaN,Later Stage VC,NaN,Venture Capital,22-Oct-2020,NaN,NaN,1,NaN,2020

# Step 2 : Explolatory Data Analysis

In [19]:
# Display basic information about the dataset
print("Basic Dataset Information:")
print("Number of rows and columns:", df.shape)


# Check for missing data
missing_data = df.isnull().sum()
print("\nMissing data counts:\n", missing_data)

Basic Dataset Information:
Number of rows and columns: (326, 39)

Missing data counts:
 Company Name                     0
Verticals                        0
Keywords                         0
Company Financing Status         0
Total Raised                   151
Business Status                  9
Ownership Status                 0
Universe                         0
Employees                      103
Exchange                       311
Ticker                         311
Year Founded                    20
HQ Location                      1
HQ City                          3
HQ State/Province               19
HQ Country                       1
HQ Global Region                 1
HQ Global Sub Region             1
# Active Investors             119
Acquirers                      267
First Financing Date            28
First Financing Size           158
First Financing Valuation      271
First Financing Deal Type        0
First Financing Deal Type 2    214
First Financing Deal Class       0
First Financing Status           0
Last Financing Date             26
Last Financing Size            161
Last Financing Valuation       259
Last Financing Deal Type         0
Last Financing Deal Type 2     232
Last Financing Deal Class        2
Last Updated Date                0
Last Known Valuation (M)       200
Last Known Valuation Date      204
Count                            0
First Financing Deal Year       28
Current Year                     0
dtype: int64

# Step 3: Data Cleaning and Preprocessing

Clean the data by handling missing values, duplicates, and outliers.
Perform any necessary data transformations (e.g., data type conversions, date parsing).
Create new features if needed.

In [24]:
# Step 1: Remove Missing Values
df.dropna(inplace=True)
# Check for missing data
missing_data_cleaned = df.isnull().sum()
print("\nMissing data counts after cleaning:\n", missing_data_cleaned)

Missing data counts after cleaning:
 Company Name                   0
Verticals                      0
Keywords                       0
Company Financing Status       0
Total Raised                   0
Business Status                0
Ownership Status               0
Universe                       0
Employees                      0
Exchange                       0
Ticker                         0
Year Founded                   0
HQ Location                    0
HQ City                        0
HQ State/Province              0
HQ Country                     0
HQ Global Region               0
HQ Global Sub Region           0
# Active Investors             0
Acquirers                      0
First Financing Date           0
First Financing Size           0
First Financing Valuation      0
First Financing Deal Type      0
First Financing Deal Type 2    0
First Financing Deal Class     0
First Financing Status         0
Last Financing Date            0
Last Financing Size            0
Last Financing Valuation       0
Last Financing Deal Type       0
Last Financing Deal Type 2     0
Last Financing Deal Class      0
Last Updated Date              0
Last Known Valuation (M)       0
Last Known Valuation Date      0
Count                          0
First Financing Deal Year      0
Current Year                   0
dtype: int64

In [27]:
# Save the cleaned DataFrame to a new CSV file
df.to_csv('cleaned_dataset.csv', index=False)